body {
  background-color: #93cB56;
  margin: 0px;
}

/* List Gallery component */
  div .listGallery .galleryEntries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
    margin: 20px;
  }

  div .listGallery .galleryEntry {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
  }

  div .listGallery .galleryEntry img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  div .listGallery .galleryEntry .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    opacity: 1;
  }

  div .listGallery .galleryEntry .buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  div .listGallery .galleryEntry button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  div .listGallery .galleryEntry .text {
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }


/* New Gallery component */
  div .newGallery .galleryEntry {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
  }

  div .newGallery .galleryEntry img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  div .newGallery .galleryEntry .text {
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }


/* Edit Gallery component */
  div .editGallery .galleryEntries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
    margin: 20px;
  }

  div .editGallery .galleryEntry {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
  }

  div .editGallery .galleryEntry img {
    width: 100%;
    height: auto;
    display: block;
  }

  div .editGallery .galleryEntry .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    opacity: 1;
  }

  div .editGallery .galleryEntry .buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  div .editGallery .galleryEntry button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  div .editGallery .galleryEntry .text {
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

/* View Gallery component */
  div .viewGallery {
    height: 100vh;
  }
